<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Description | default site.Params.description }}">
<meta name="google-site-verification" content="j9Z4dLyFC4CnFbx3fauTNTkJ8X8Bsamb5pNvsLvkW6A">
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ .Description | default site.Params.description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">
{{ with .Params.og_image }}<meta property="og:image" content="{{ . | absURL }}">
<meta name="twitter:card" content="summary_large_image">
{{ end -}}
{{ range .AllTranslations }}<link rel="alternate" hreflang="{{ .Language.Locale }}" href="{{ .Permalink }}">
{{ end -}}
{{ block "head" . }}{{ end }}
</head>
<body>
{{ block "main" . }}{{ end }}
</body>
</html>
